<!DOCTYPE HTML>
<html>

<body>
    <center>
        <h3>GENERAR PAGOS</h3>
        <form method="post" action="...">

            <h3>Los datos de la boleta son los siguientes:</h3>


            <table>

                <tr>
                    <td>Número:</td>
                    <td><input type="text" name="nombre_cliente" value="" size="15"></td>
                    <td><button class="btn btn-success" type="submit"><h8>BUSCAR</h8></button></td>

                </tr>

                <tr>
                    <td>Nombre del cliente:</td>
                    <td><input type="text" name="nombre_cliente" value="" size="15"></td>
                </tr>
                <tr>
                    <td>Apellidos del cliente:</td>
                    <td><input type="text" name="apellidos_cliente" value="" size="15"></td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td><hr></td>
                </tr>
                <tr>
                    <td>Importe:</td>
                    <td><input type="text" name="importe" value="" size="50"></td>
                </tr>
                <tr>
                    <td>Comisión</td>
                    <td><input type="text" name="comision" value="" size="25"></td>
                </tr>
                <tr>
                    <td>Total a pagar:</td>
                    <td><input type="text" name="total_pago" value="" size="25"></td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td><hr></td>
                </tr>
                <tr>
                    <td>Depositado:</td>
                    <td><input type="text" name="depositado" value="" size="5"></td>
                </tr>
                <tr>
                    <td>Vuelto:</td>
                    <td><input type="text" name="vuelto" value="" size="15"></td>
                </tr>
            </table>


            <!-- Campo que hace la llamada al script que genera la factura -->
            <input type="hidden" name="generar_factura" value="true">
        </form>
        <button class="btn btn-info" type="submit"><h6>GENERAR BOLETA</h6></button>
        <br><br><br><br>
    </center>
</body>

</html>