@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="icon" href="~/images/logo_global_icon.ico" />
    <title>GlobalNet Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/stylesheets/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
</head>
<body>
    <!-- main -->
    <div class="center-container">
        <!--header-->
        <div class="header-w3l">

            <h1 style="color:#1e6466">GLOBALNET</h1><h1 style="color:#59bcd4">COMUNICACIONES</h1>
        </div>
        <!--//header-->

        <!-- Prueba -->
        <form action="@Url.Action("Caja","Home")" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="email-modal" placeholder="Usuario" name="usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password-modal" placeholder="Contraseña" name="clave">
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Log in</button>
            </p>
        </form>
        <!-- fin prueba -->

        @*<div class="main-content-agile">
            <div class="sub-main-w3">
                <div class="wthree-pro">
                    <h2>Iniciar sesión</h2>
                </div>
                <form method="post" action="@Url.Action("Caja","Home")">
                    <div class="pom-agile">
                        <input placeholder="Usuario" name="Name" class="user" type="email" required="">
                    </div>
                    <div class="pom-agile">
                        <input placeholder="Contraseña" name="Password" class="pass" type="password" required="">
                    </div>
                    <div class="sub-w3l">
                        <div class="right-w3l">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>*@
        <!--//main-->
    
        <!--footer-->
        <div class="footer">
        </div>
        <!--//footer-->
    </div>
    <!-- fin main -->
</body>
</html>

