<!DOCTYPE HTML>
<html>

<body>
    <center>
        <div class="container">
            <h2>Reporte Detallado del día</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>TRANSACCIÓN</th>
                        <th>NÚMERO</th>
                        <th>NOMBRE Y APELLIDO</th>
                        <th>IMPROTE</th>
                        <th>COMSIÓN</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20175454</td>
                        <td>959878545</td>
                        <td>Marcos Ramos</td>
                        <td>S/.45</td>
                        <td>S/.2</td>
                        <td>S/. 47.00</td>                      
                    </tr>
                    <tr>
                        <td>20175476</td>
                        <td>99945433</td>
                        <td>Juan Perez</td>
                        <td>S/.45</td>
                        <td>S/.2</td>
                        <td>S/. 47.00</td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" type="submit"><h6>IMPRIMIR</h6></button>

        <button class="btn btn-info" type="submit"><h6>exportar en exel</h6></button>
    </center>
</body>

</html>